body {
    background-color: gray;
}

:root {
    --lightPanle: #3a7188;
    --darkPanle: #0a445f;
    --transLightPanel: rgba(58, 113, 136, 0.75);
    --transDarkPanel: rgba(10, 68, 95, 0.75);
    --whiteBoard-one: #c3daf1;
    --screenModeButton: #002f42;
}