@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



@theme {
    --color-lightPanle: #3a7188;
    --color-darkPanle: #0a445f;
    --color-whiteBoard-one: #c3daf1;
    --color-screenModeButton: #002f42;

}

.commonScreenColorAnimation {
    transition: background-color 1000ms ease-in;
}