:root {
    --lightPanle: #3a7188;
    --darkPanle: #0a445f;
    --whiteBoard-one: #c3daf1;
    --screenModeButton: #002f42;
}

.toolButt {
    transition: transform 200ms, background-color 200ms ease-in;
}

.toolPanel {
    right: 120px;
    transition: transform 300ms ease-out;
}

.toolSubPanel {
    left: -500px;
    transition: transform 300ms ease-out;
}

.toolPanelButt_img {

    box-shadow: inset 0 0 0;
    /* Initial shadow */
    transition: transform 200ms, box-shadow 150ms ease-in;
}


.toolPanelButt_img:hover {
    box-shadow: inset 0 0 10px rgb(202, 225, 234);

}


.toolPanelActive {
    transform: translateX(120px);
}

.toolSubPanelActive {
    transform: translateX(585px);
}


.toolButt:hover {
    transform: rotate(10deg);
}


.toolButt:active {
    transform: scale(0.95);
}

.shapeIcon {
    transition: transform 200ms ease-out;
}

.shapeIconActive {
    transform: translateY(-10px);
}

.backShow {
    transition: transform 200ms ease-out;
}

.backShowActive {
    transform: translateY(-10px);
}

.pen4 {
    transition: transform 200ms ease-out;
}

.pen5 {
    transition: transform 200ms ease-out;
}

.pen4Active {
    transform: translateY(-20px);
}

.pen5Active {
    transform: translateY(-20px);

}

.pen4TouchActiveSelect {
    transform: translateY(-40px);
}

.pen5TouchActiveSelect {
    transform: translateY(-45px);
}

.pen4ActiveSelect {
    transform: translateY(-40px);
}

.pen5ActiveSelect {
    transform: translateY(-40px);
}

.eraser {
    transition: transform 200ms ease-out;
}

.eraserActive {
    transform: translateX(20px);
}

.eraserActiveSelect {
    transform: translateX(40px);

}