.navPanel {
    top: -150px;

    transition: transform 700ms, opacity 300ms ease-in;


}



.darkbutt {
    transition: background-color 200ms, transform 100ms ease-in;
}

.darkbutt:hover {
    background-color: wheat;

}

.darkbutt:active {
    transform: scale(0.9);
}

.theactive {
    transform: translateY(208px);
    opacity: 1;

}

.darkModeButtToogle {
    transition: transform 500ms ease-out;
}

.darkModeButtToogleActive {
    transform: translateX(39px);
}

.lightIcon {
    bottom: -35px;
    opacity: 0;
    transition: transform 500ms, opacity 500ms ease-out;
}

.darkIcon {
    transition: transform 500ms, opacity 500ms ease-out;
}

.darkIconActive {
    transform: translateY(10px);
    opacity: 0;
}

.lightIconActive {
    transform: translateY(-35px);
    opacity: 1;

}