export default {
    "COOKIE_SECRET": "Your Secret overall used in the project",
    "SUPABASE": {
        "URL": "supabase url from your account",
        "PUBLIC_KEY": "supabase public key"
    },
    "PORT" : <PORT you want to run on >
}